# Used only with docker-compose.optional-cache.yml.
# Generate the file with: openssl rand -hex 32 > /run/secrets/wamocon-shared-redis
SHARED_REDIS_PASSWORD_FILE=/run/secrets/wamocon-shared-redis
SHARED_REDIS_DATA_VOLUME=shared-infra-stage_shared-redis-data
